extends layout

block content
  .page-header
    h1 Welcome to GrubSplit!
    - if (address)
      h3 Restaurants near #{address}
    - else
      h3 Search for nearby restaurants
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='address')
      .col-sm-7
        .input-group
          input.form-control(type='address', name='address', id='address', placeholder='Restaurants near this location', autofocus=true)
          span.input-group-btn
            button.btn.btn-primary(type='submit') Search
  div(style='text-align: center')
    - if (typeof (restaurants) === 'undefined')
      p <i>Try it! ;)</i>
    - else if (restaurants.length === 0)
      p <i>No restaurants nearby :(</i>
    - else
      p <i>#{restaurants.length} restaurants found! :D</i>
      table.table.table-hover
        thead
          tr
            th Logo
            th Name
            th Cuisines
            th Overall Rating / Number of Ratings
            th Phone
            th Address
        tbody
          for restaurant in restaurants
              tr.clickable-row(onclick="window.document.location='/restaurant/' + #{restaurant.id};" style='cursor: pointer')
                th
                  img.img-responsive.square(style={ 'background-image': "url("+restaurant.merchant_logo+")" })
                td #{restaurant.name}
                td #{restaurant.cuisines}
                td #{restaurant.overall_rating} / #{restaurant.num_ratings}
                td #{restaurant.phone}
                td #{restaurant.street} #{restaurant.city}, #{restaurant.state} #{restaurant.zip_code}