mixin addresses(locations)
  div
    h2 Addresses
    if locations.length > 0
      for location in locations
        +address(location)
    else
      p <i>No saved addresses!</i>

mixin address(address)
  div
    input(type="radio", name="address", checked=false, id=address.location_id)
    |  #{address.phone}
    |  #{address.street}
    |  #{address.city} #{address.state} #{address.zip_code}

mixin paymentOptions(creditCards)
  div
    h2 Payment Options
    if creditCards.length > 0
      for creditCard in creditCards
        +paymentOption(creditCard)
    else
      p <i>No saved credit cards!</i>

mixin paymentOption(creditCard)
  div
    input(type="radio", name="payment", checked=false, id=creditCard.cc_id)
    | #{creditCard.type} #{creditCard.last_four}
    | Expires #{creditCard.exp_month}/#{creditCard.exp_year}

mixin addAddress
  div
    h1 Add new address

mixin textInputGroup(type, placeholder, style)
  .form-group
      label.control-label(for=type)
        input.form-control(type=type, name=type, id=type, placeholder=placeholder, style=style)

mixin receipt(grub)
  -var price = 0
  h2 Receipt
  for subGrub in grub.subGrubs
    -price += subGrub.totalAmount
    +subReceipt(subGrub.items)
  h4 Subtotal: $#{price}

mixin subReceipt(subGrub)
  for item in subGrub
    div.subReceipt
      +receiptItem(item)

mixin receiptItem(item)
  div.receiptItemHead
    h4= item.name
    h4.rightAlign $#{item.price}
  p Quantity: #{item.quantity}






