// recursively creates new menus for display on pages
// Requirement:
//      menu = menu entity from delivery.com API

mixin menu(menu, isSubGrub)
    h3 #{menu.name}
        if menu.children
            for child in menu.children
                if (child.type === 'menu')
                    +menu(child, isSubGrub)
                if (child.type === 'item')
                    +menuItem(child, isSubGrub)

mixin menuItem(item, isSubGrub)
    div.row
        div.col-md-6
            if isSubGrub
                a(itemid=item.id).item
                    p #{item.name}
            else
                p #{item.name}
        div.col-md-6
            p #{item.price}