extends ../layout

block content
  .page-header
    h1 Welcome, #{user.name}
  div
    h3 Invitations
    if grub_invites
      for grub in grub_invites
        div
          p #{grub.leader} invited you to order from #{grub.restaurant}
          a Accept
          a Decline
    else
      p <i>No current invitations!</i>
  div
    h3 Open Grubs
    if open_grubs
      for grub in open_grubs
        div
          a(href='/grubs/' + grub._id) #{grub.leader} is ordering from #{grub.restaurant}
    else
      p <i>No open grubs!</i>

  div
    h3 Past Grubs
    if past_grubs
      for grub in past_grubs
        div
          a(href='/grubs/' + grub._id) You ordered from #{grub.restaurant}
    else
      p <i>No past grubs!</i>


