extends ../layout

block content
  .page-header
    h1 Welcome, #{user.name}
  div
    h3 Open Grubs
    if (open_grubs.length != 0)
      for grub in open_grubs
        div
          a(href='/grubs/' + grub._id) #{grub.owner.name} is ordering from #{grub.restaurant_name}
    else
      p <i>No open grubs!</i>

  div
    h3 Past Grubs
    if (past_grubs.length != 0)
      for grub in past_grubs
        div
          a(href='/grubs/' + grub._id) #{grub.owner.name} ordered from #{grub.restaurant_name}
    else
      p <i>No past grubs!</i>


